body {
    font-family: "Inknut Antiqua", serif;
    
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;

    
    background-color: #172121;
}

.top {
    overflow: visible;
}


.heading_text {
    width: 100%;
    height: 85vh;

    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0px;

    font-size: 45px;
}

.text-red {
    margin-top: 0px;

    background: -webkit-linear-gradient(45deg, #d1603d, #ddb967);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-blue {
    margin-top: 0px;
    background: -webkit-linear-gradient(45deg, #65afff, #d0e37f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: white;
    text-decoration: none;
}

.navigation-bar {
    position: sticky;
    top: 0;

    color: white;
    font-size: 20px;
    width: calc(100% - 14px);
    height: 15vh;
    padding: 7px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    
}



